/* 
--light-gray: #ccdbdcff;
--powder-blue: #9ad1d4ff;
--middle-blue: #80ced7ff;
--cg-blue: #007ea7ff;
--prussian-blue: #003249ff;
*/

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #003249;
  color: #CCDBDC;
}
